<div>

  <h1>Lista de productos</h1>
  <h2>Te damos la bienvenida {{infoUser.first_name}} {{infoUser.last_name}}</h2>
  <p>Tu rol es: {{infoUser.role}}</p>
  <a href="/views/profile" role="button">Ver mi perfil</a>
  <div class="containers">
    {{#each payload}}
      <article class="card product-real-time" style="width: 18rem;">
        <img src={{this.thumbnail}} class="card-img-top product-real-time__img" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.price}}</p>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">Stock: {{this.stock}}</p>
          <a href="#" class="btn btn-success">Agregar al carrito</a>
        </div>
      </article>
    {{/each}}
  </div>
  <p>Página actual: {{page}}</p>
  <a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}} >Anterior</a>
  <a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}} >Siguiente</a>
</div>